header{
    background-color: #2A2D34;
    color: white;
    height: 58px
    
}

.contenedor-cabecera{
    display: flex;
    position: fixed;
    width: 100%;
    padding: 3px 0;
    height: 72px;
    font-size: 12px;
    background-color: #060C1E;
    text-align: center;
    justify-content: center;    
}

.cabecera{
    display: flex;
    align-items: center;
}

.contenedor-menu{
    display: flex;
    margin: 0 30px;
    

}

.nombre{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    
}

.menu{
    gap: 10PX;
}


.Link{
    color: white;
    text-decoration: none;
    
}
.Link span{
    display: none;
}
.menu-lista{
    display: flex;
    gap: 25px;
    
    
}

/* Para Computadoras  */

@media(min-width:1024px){
    

    .menu-lista{
        display: flex;
        gap: 131px;
    }

    .Link span{
        display: flex;
        text-align: center;
        padding-top: 5px;
        font-size: 15px;
    }
}