header{
    background-color: #2A2D34;
    color: white;
    height: 58px
}

.contenedor-cabecera{
    display: flex;
    position: fixed;
    width: 100%;
    padding: 13px 0;
    height: 72px;
    font-size: 20px;
    background-color: white;
    text-align: center;
    
}





.cabecera{
    display: flex;
}

.contenedor-menu{
    display: flex;
    margin: 0 30px;
    

}

.nombre{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    
}

.menu-lista{
    display: flex;
    gap: 10px;
    
    
}

