/* Seccion hobbies */

.contenedor-hobbie{
    display: flex;
    width: 100%;
    height: 545px;
    margin: 0px 0 40px 0;
    flex-direction: column;
    background-color: #1c2541;
    justify-content: center;
}

.titulo-hobbies{

    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 600;
    padding: 0px 0 35px 0;
    
}
    
.linea-hobbies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 9px;
    text-align: center;
    align-content: center;
    justify-content: center;
}

@media(max-width:1024px){

    .contenedor-hobbie{
        margin-bottom: 120px;
    }

    .titulo-hobbies{
        font-size: 0px;
        font-weight: 600;
    }
}