@import url('./header.css');
@import url('./inicio.css');
@import url('./sobre-mi.css');
@import url('./skills.css');
@import url('./hobbies.css');
@import url('./formacion.css');
@import url('./proyectos.css');
@import url('./formulario.css');

@font-face {
    font-family: "Mont ExtraLightDEMO";
    src: url("public\fonts\Mont-ExtraLightDEMO.woff2") format("woff2"),
    url("public\fonts\Mont-ExtraLightDEMO.woff") format("woff");
}
body{
    background: #0b132b;
    color: #FCFCFC;
}
