@import url('./header.css');
@import url('./inicio.css');
@import url('./sobre-mi.css');
@import url('./skills.css');
@import url('./hobbies.css');
@import url('./formacion.css');
@import url('./proyectos.css');
@import url('./formulario.css');
@import url('./footer.css');

@font-face {
    font-family: 'Astonpoliz';
    src:url('/public/fonts/Astonpoliz.ttf') format('truetype'),
        url('/public/fonts/Astonpoliz.woff2') format('woff2'),
        url('/public/fonts/Astonpoliz.woff') format('woff');
    font-display: swap; 
}

body{
    background: #0b132b;
    color: #FCFCFC;
    height: 4500px;
    font-family: 'Astonpoliz';
}
