/* Seccio inicio */

.inicio{
    display: flex;
    width: 100%;
    height: 600px;
    margin: 0 0 40px 0;
    align-items: center;
    flex-direction: column-reverse;
    background: #1c2541;
    justify-content: center;
}

.presentacion-contenedor{
    display: inline-flex;
    flex-wrap: wrap;
    margin: 26px 45px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.presentacion{
    align-content: center;
}

.presentacion-p{
    margin: 10px 0 0 0;
    text-wrap: balance;
    font-size: 17px;
}

.redes{
    display: inline-flex;
    gap: 15px;
    margin: 19px 0px;
}

.perfil{
    width: 132px;
    height: 166px;
    border-radius: 30px;
    margin: 0px 0px 35px 0;
}


@media(min-width:1024px){

    .presentacion{
        font-size: 20px;
        font-weight:600;
    }

    .presentacion-p{
        font-size: 20px;
    }

    .redes{
        gap: 40px;
    }
}