/* Seccion de proyectos */

.experiencia{
    width: 100%;
    height: 50%;
}

.titulo-experiencia{
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.caja-experiencia-container{
    display: flex;
    margin: 0 0 34px 0;
    flex-direction: row;
    align-items: center;
    gap: 55px 0px;
    flex-wrap: wrap;
    justify-content: center;
    
}

.contenedor-exp{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    background: #1c2541;;
    
}

.img-exp{
    height: 206px;
    width: 316px;
}

.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

.logos-exp{
    display: flex;
    margin: 10px 0px 6px 0px;
    gap: 10px;
}

.links{
    display: flex;
    gap: 11px;
    padding: 8px 0px;
}

@media(min-width:1024px){

    .titulo-experiencia{
        font-size: 40px;
        font-weight: 600;
    }

    .caja-experiencia{
        display: flex;
    }

    .img-exp{
        height: 352px;
        width: 510px;
    }

    .caja-experiencia-container{
        gap: 100px 354px;
        justify-content: center;
        margin: 42px 152px 30px 152px

    }
}